In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
#import test3 as t
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Only use quant variables and drop any rows with missing values
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]


#Drop the rows with missing salaries
drop_sal_df = num_vars.dropna(subset=['Salary'], axis=0)

In [5]:
drop_sal_df

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.000000,8.0,NaN,9.0,8.0
14,100000.000000,8.0,NaN,8.0,8.0
17,130000.000000,9.0,NaN,8.0,8.0
18,82500.000000,5.0,NaN,3.0,NaN
22,100764.000000,8.0,NaN,9.0,8.0
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
36,28200.000000,7.0,NaN,9.0,7.0
37,118279.569892,NaN,1.0,NaN,8.0
52,15674.203822,6.0,4.0,5.0,8.0
54,64516.129032,9.0,NaN,9.0,9.0
57,43010.752688,10.0,2.0,6.0,10.0
61,6636.323594,5.0,NaN,5.0,9.0
64,69892.473118,8.0,NaN,5.0,7.0
65,17777.777778,8.0,NaN,8.0,7.0
69,32258.064516,10.0,NaN,8.0,NaN
70,65000.000000,8.0,2.0,5.0,7.0
72,120000.000000,8.0,NaN,5.0,8.0
75,46236.559140,6.0,2.0,2.0,9.0
76,96283.000000,10.0,NaN,8.0,7.0
81,110000.000000,7.0,NaN,6.0,8.0
83,165000.000000,6.0,6.0,5.0,10.0
89,113694.267516,9.0,NaN,9.0,10.0
90,38600.000000,8.0,NaN,6.0,9.0
95,53763.440860,7.0,NaN,7.0,7.0
97,27548.209366,8.0,NaN,8.0,9.0
99,109400.000000,8.0,NaN,8.0,5.0
102,83870.967742,9.0,NaN,6.0,9.0
103,51000.000000,10.0,NaN,10.0,8.0
104,17515.923567,6.0,1.0,6.0,8.0
...,...,...,...,...,...
18945,121500.000000,9.0,NaN,10.0,7.0
18946,38709.677419,7.0,NaN,6.0,8.0
18947,405.405405,3.0,NaN,6.0,7.0
18950,43750.000000,8.0,1.0,8.0,10.0
18955,23750.000000,7.0,1.0,4.0,9.0
18964,32962.962963,8.0,NaN,8.0,10.0
18984,37500.000000,7.0,0.0,7.0,9.0
18985,150000.000000,9.0,0.0,9.0,9.0
18989,155000.000000,8.0,NaN,8.0,10.0
18990,62500.000000,8.0,0.0,5.0,10.0
18996,37500.000000,9.0,NaN,9.0,9.0
19004,2040.740741,9.0,NaN,9.0,10.0
19005,65000.000000,8.0,4.0,5.0,NaN
19006,65000.000000,7.0,NaN,6.0,8.0
19011,31393.614888,3.0,1.0,5.0,8.0
19014,70000.000000,7.0,NaN,7.0,NaN
19016,18279.569892,6.0,NaN,7.0,NaN
19018,34408.602151,8.0,NaN,7.0,NaN
19020,5376.344086,8.0,NaN,8.0,8.0
19022,28506.787330,10.0,1.0,10.0,9.0
19039,2972.972973,8.0,NaN,8.0,8.0
19045,43010.752688,8.0,1.0,5.0,8.0
19046,43750.000000,8.0,NaN,9.0,8.0
19055,140000.000000,7.0,NaN,9.0,10.0
19073,87500.000000,9.0,NaN,6.0,NaN
19079,65000.000000,10.0,0.0,8.0,10.0
19086,80645.161290,10.0,NaN,8.0,10.0
19088,41250.000000,8.0,NaN,8.0,9.0
19089,50500.000000,7.0,30.0,6.0,9.0
19100,110000.000000,8.0,NaN,9.0,9.0

In [7]:
# Mean function
fill_mean = lambda col: col.fillna(col.mean())
# Fill in the mean
fill_df =

<function <lambda> at 0x7f34396d5938>